.main {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 0rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: 50rem;
  background: linear-gradient(to right,
      #fbfbfb00,
      rgb(214, 214, 214),
      #a2dce912,
      #807b8918,
      #5f6b6c0c,
      #ffff0001);
  height: 2rem;

  /* Add a box shadow to create a 3D effect */

  /* Add a border */

  /* Add a border-radius to create a curved edge */
}

.grid h2 {
  margin-left: 4.5rem;
}

.form {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 7.5rem;
}

.button {
  background-color: #1a1a1a;

  /* Add a border */

  /* Add a border-radius to create a rounded edge */
  border-radius: 8px;
  border: none;
  /* Add some padding to center the text inside the button */
  padding: 8px;

  /* Add some text styling */
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 0px 2.5px rgba(255, 255, 254, 0.317), 0px 0px 5px #ffbb0009,
    0px 0px 7.5px #00ffe120;
}

.button:hover {
  box-shadow: 0px 0px 2.5px rgba(224, 224, 224, 0.317), 0px 0px 5px #ffbb0009,
    0px 0px 7.5px #00ffe120;
}

.grid a:hover {
  transform: scale(1.1);
}

.grid a {
  width: 20rem;
  transition: transform 0.25s;
}

.description:hover {
  transition: transform(1s);
}

.card {
  max-width: 50%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 3%;
  padding: 3%;
  /* Adjust the padding here, you might not need padding-bottom anymore */
  border: 0.5px solid rgba(207, 250, 255, 0.265);
  text-align: justify;
  overflow: auto;
  word-wrap: break-word;
  justify-content: space-between;
  font-size: small;
}


.cardContainer {

  display: flex;
  justify-content: center;
  min-width: 100%;
}

.blogCard {
  composes: card;
  min-width: 30%;
}

.card h1 {
  animation: glow 12s ease-in-out infinite;
}

.card p {
  animation: glow 12s ease-in-out infinite;
  margin-top: 1rem;
  opacity: 0.6;
  /* adjust as needed */
}

.card span {
  animation: glow 12s ease-in-out infinite;
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  animation: glow 12s ease-in-out infinite;
  font-weight: 600;
}



.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 10px;

}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  animation: glow 6s ease-in-out infinite;
}

@keyframes glow {

  0%,
  100% {
    filter:
      drop-shadow(0 0 10px rgba(192, 192, 192, 0.25)) drop-shadow(0 0 15px rgba(250, 250, 210, 0.25)) drop-shadow(0 0 20px rgba(0, 255, 255, 0.25));
  }

  50% {
    filter:
      drop-shadow(0 0 20px rgba(192, 192, 192, 0.25)) drop-shadow(0 0 30px rgba(224, 224, 223, 0.479)) drop-shadow(0 0 40px rgba(0, 255, 255, 0.25));
  }
}







@media only screen and (max-width: 600px) {
  .yggLogo {
    width: 50%;
  }
}



.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.8rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-top: 10rem;
}

#comingSoon {
  margin: 1rem 0rem;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .footer {
    margin-bottom: 7.5rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
    margin-left: 5rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

.responsiveImage {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@media (max-width: 600px) {
  .responsiveImage {
    max-width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {}

/* continue with other media queries... */


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    /* filter: invert(.8); */
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {

  /* CSS styles for screens smaller than 600px */
  .yggLogo {
    width: 100%;
    /* adjust the width of the logo for smaller screens */
  }


  .responsiveImage {
    max-width: 100%;
  }

  .grid {
    width: 5% !important;
    font-size: 0.75rem;
    margin-left: 14.5rem;
  }

  .card {
    max-width: 50rem;


    /* adjust the width of the card for smaller screens */
    height: auto;
  }

  #comingSoon {
    margin-bottom: 10rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {

  /* CSS styles for screens between 600px and 900px */
  .yggLogo {
    width: 100%;
    /* adjust the width of the logo for tablets */
    height: 80px;
    margin-right: 1rem;
  }

  .responsiveImage {
    max-width: 50%;
    /* adjust the value as needed */
  }

  .card {
    width: 90%;
    /* adjust the width of the card for tablets */
  }
}

/* iPhone 10 */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {




  .grid {
    width: 5% !important;
    font-size: 0.75rem;
    margin-left: 14.5rem;
  }
}

/* iPhone 11 */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
  .responsiveImage {
    max-width: 50%;

  }

  .grid {
    width: 5% !important;
    font-size: 0.75rem;
    margin-left: 14.5rem;
  }
}

/* iPhone 12 */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  .yggLogo {
    width: 100%;
    height: 100px;
  }

  .responsiveImage {
    max-width: 50%;

  }


  #comingSoon {
    margin-bottom: 18rem;
  }

  .card {
    width: 100%;
    margin-top: 5rem;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 420px) {

  .yggLogo {
    width: 20px;
  }

  .responsiveImage {
    width: 30%;


  }


  #comingSoon {
    margin-bottom: 15rem;
  }

  .card {
    margin-top: 5rem;
    width: 100%;

  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 350px) {
  .yggLogo {
    width: 80px;
    height: 100px;
  }

  .responsiveImage {
    max-width: 50%;

  }


  #comingSoon {
    margin-bottom: 17rem;
    font-size: small;
  }

  .card {
    margin-top: 5rem;
    width: 100%;

  }
}

/* iPhone 13 */
@media only screen and (min-device-width: 896px) {
  .yggLogo {
    width: 90px;
    height: 113px;
  }

  .responsiveImage {
    max-width: 50%;

  }

}